<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-color: black;
            color: white;
        }

        h1{
            text-align: center;
            text-transform: uppercase;
        }

        a{
            text-decoration: none;
            color: white;
            background-color: darkcyan;
            padding: 10px 20px;
            border-radius: 10px;
            border: 3px solid cyan;
        }
    </style>
</head>
<body>
    <h1>Dear: {{user.username}} do your reallly want to reset your password</h1>
    <h3>Please click on the button below to confirm this action</h3>
    <a href="http://127.0.0.1:8000{% url 'reset_password_confirm' token=token uid=uid%}">Create new password</a>
</body>
</html> 